section[data-testid="stSidebar"][aria-expanded="true"] {
    width: 270px !important;
    min-width: 270px !important;
    max-width: 270px !important;
}

.user-greeting {
    position: relative !important;
    top: -6rem !important;
    background-color: #4b7bec !important;
    color: white !important;
    padding: 1rem !important;
    margin: 0rem -1rem 1.5rem -1rem !important;
    font-weight: 600 !important;
    text-align: center !important;
    border-radius: 0 0 12px 12px !important;
    box-shadow: 0 4px 8px rgba(75, 123, 236, 0.2) !important;
}

.st-key-nav_radio {
    position: relative !important;
    top: -4rem !important;
}

section[data-testid="stSidebar"] div[data-baseweb="radio"] div:first-child {display: none !important;}
section[data-testid="stSidebar"] .stRadio [data-baseweb="radio"] > div:first-child {display: none !important;}

section[data-testid="stSidebar"] [role="radiogroup"] > label:first-child {display: none !important;}

section[data-testid="stSidebar"] .stRadio [data-baseweb="radio"] {gap: 0 !important; margin-right: 0 !important;}
section[data-testid="stSidebar"] .stRadio label {padding: 0.75rem 1rem !important; border-radius: 8px; cursor: pointer; transition: all 0.3s ease; border-left: 4px solid transparent;}
section[data-testid="stSidebar"] .stRadio label:hover {background-color: rgba(75, 123, 236, 0.1) !important; border-left: 4px solid #4b7bec !important;}
section[data-testid="stSidebar"] .stRadio [aria-checked="true"] label {background-color: rgba(75, 123, 236, 0.2) !important; border-left: 4px solid #4b7bec !important;}
section[data-testid="stSidebar"] .stRadio [aria-checked="true"] label div[data-testid="stMarkdownContainer"] p {font-weight: 700 !important; color: #4b7bec !important;}
section[data-testid="stSidebar"] .stRadio [aria-checked="false"] label div[data-testid="stMarkdownContainer"] p {font-weight: 400 !important; color: #31333F !important;}

section[data-testid="stSidebar"] .stRadio label:active {
    background-color: rgba(75, 123, 236, 0.3) !important; 
    transform: translateY(1px) !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) !important; 
    transition: all 0.05s ease-in-out !important;
}

section[data-testid="stSidebar"] [data-baseweb="radio"] input:checked + div {
    background-color: #5778e7 !important;
    color: #ffffff !important;
    padding: 0.75rem 1rem !important; 
    border-radius: 8px !important; 
    cursor: pointer !important; 
    transition: all 0.3s ease !important; 
    border-left: 4px solid transparent !important;
}

section[data-testid="stSidebar"] [data-baseweb="radio"] input:checked ~ div {
    background-color: #5778e7 !important;
    color: #ffffff !important;
    padding: 0.75rem 1rem !important; 
    border-radius: 8px !important; 
    cursor: pointer !important; 
    transition: all 0.3s ease !important; 
    border-left: 4px solid transparent !important;
}

section[data-testid="stSidebar"] .stButton > button {
    width: 100% !important;
    background-color: #f8f9fa !important;
    border-radius: 5px !important;
    transition: all 0.1s ease-in-out !important;
    margin-top: 1rem !important;
}
    
section[data-testid="stSidebar"] .stButton > button:hover {
    background-color: #e9ecef !important;
}

section[data-testid="stSidebar"] .stButton > button:active {
    transform: translateY(1px) !important; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    background-color: #a6a5a5 !important; 
}

section[data-testid="stSidebar"] .st-key-stButton-invisible_btn > .stButton > button {
    width: 200px !important;
    height: 80px !important;
    position: relative !important;
    z-index: 99 !important;
    top: -100px;
    left: 5px;
    background-color: transparent !important;
    color: transparent !important;
    border: 0px !important;
}

section[data-testid="stSidebar"] .st-key-stButton-invisible_btn > .stButton > button:active {
    transform: translateY(0px) !important; 
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.2) !important;
    background-color: transparent !important; 
}

section[data-testid="stSidebar"] .st-key-stButton-invisible_btn > .stButton > button:hover {
    background-color: transparent !important;
}

section[data-testid="stSidebar"] .st-key-logout_btn {
    margin-top: 5rem !important;
}


.sidebar-footer {
    width: 100% !important;
    text-align: center !important;
    font-size: 12px !important;
    color: #999999 !important;   
    margin-top: 1.5rem !important;                 
    position: initial !important;  
    padding: 1rem 0 0 0 !important;  
    border-top: 1px solid #e6e6e6 !important;
}